<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>我的足迹</title>

		<link href="/css/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="/css/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="/css/personal.css" rel="stylesheet" type="text/css">
		<link href="/css/footstyle.css" rel="stylesheet" type="text/css">

	</head>

	<body>
		<header>
			<article>
				<div class="mt-logo">
					{layout name="layout" /}
				</div>
			</article>
		</header>
            <div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="#">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>
			</div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-foot">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">我的足迹</strong> / <small>Browser&nbsp;History</small></div>
						</div>
						<hr/>

						<!--足迹列表 -->
						{if !empty($foot)}
						{foreach $foot as $f}
						<div class="goods">
							<div class="goods-box first-box">
								<div class="goods-pic">
									<div class="goods-pic-box">
										<a class="goods-pic-link" target="_blank" href="{:url('/index/goods/introduction/goods_id/'.$f['goods_id'])}" title="{$f.goods_name}">
											<img src="{$f.img_path}" class="goods-img"></a>
									</div>
									<a class="goods-delete" href="{:url('/index/foot/delfoot/foot_id/'.$f.foot_id)}"><i class="am-icon-trash"></i></a>

									{if $f.issale == 0}
								    <div class="goods-status goods-status-show">
										<span class="desc">宝贝已下架</span>
									</div>
									{/if}
								</div>

								<div class="goods-attr">
									<div class="good-title">
										<a class="title" href="#" target="_blank">{$f.goods_name}</a>
									</div>
									<div class="goods-price">
										<span class="g_price">                                    
                                        <span>¥</span><strong>{$f.price}</strong>
										</span>
									</div>
									<div class="clear"></div>
									<div class="goods-num">
										<div class="match-recom">
											<a href="#" class="match-recom-item">找相似</a>
											<a href="#" class="match-recom-item">找搭配</a>
											<i><em></em><span></span></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						{/foreach}
						{/if}
					</div>
				</div>
				
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">GS科技</a>
							<b>|</b>
							<a href="/index/index/index">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="https://m.kuaidi100.com/">快递100</a>
						</p>
					</div>
				</div>
			</div>

			<aside class="menu">
				<ul>
					<li class="person">
						<a href="index.html">个人中心</a>
					</li>
					<li class="person">
						<a href="#">个人资料</a>
						<ul>
							<li> <a href="/index/user/userinfo">个人信息</a></li>
							<li> <a href="/index/user/password">安全设置</a></li>
							<li> <a href="/index/user/address">收货地址</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="#">我的交易</a>
						<ul>
							<li><a href="/index/order/order">订单管理</a></li>
							<li> <a href="/index/order/change">退款售后</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="#">我的资产</a>
						<ul>
							<li> <a href="/index/user/discount">优惠券 </a></li>
							<li> <a href="/index/user/red">红包</a></li>
							<li> <a href="/index/user/bill">账单明细</a></li>
						</ul>
					</li>

					<li class="person">
						<a href="#">我的小窝</a>
						<ul>
							<li> <a href="/index/user/collection">收藏</a></li>
							<li  class="active"> <a href="/index/foot/myfoot">足迹</a></li>
							<li> <a href="/index/comment/comment">评价</a></li>
						</ul>
					</li>

				</ul>

			</aside> 
		</div>

	</body>

</html>